@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
  color: #000021;
  background-color: #e6e6ef;
}

#contents {
  padding: 1em;
}

#header_title {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: fixed;
  display: none;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: relative;
  top: 50%;
  width: 400px;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);

}

.modal-open {
  overflow: hidden;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 0.375em;
}

#galleryContents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
}

.post-container {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  height: auto;
  display: flex;
}

.div_postInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  vertical-align: middle;
  justify-content: center;
}

.div_controllers {
  display: flex;
}

.post-container img {
  width: 8em;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 20px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.post-container h3 {
  font-size: 1.1em;
  width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-container p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

#btn_edit {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  margin-right: 10px;
}

#btn_delete {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: rgb(255, 115, 115);
  margin-right: 20px;
}

#txt_title:hover {
  cursor: pointer;
  text-decoration: underline;
}

#btn_edit:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}

#btn_delete:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}