@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#header {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Pretendard-Regular';
}

#contents {
    padding: 10px;
}

#btn_home {
    float: left;
    background-color: rgba(255, 255, 255, 0);
    border: 0rem;
}

#btn_home:hover {
    cursor: pointer;
}

#menuTop #menuList {
    float: right;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;
}

li {
    float: left;
    display: inline;
    padding-left: 3em;
}

.btn_header {
    padding: 1em;
    transition: background-color 0.5s ease;
}

.btn_header:link {
    color: #000000;
    text-decoration: none;
}

.btn_header:visited {
    color: #000000;
    text-decoration: none;
}

.btn_header:hover {
    background-color: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn_header:active {
    background-color: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}