@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=6.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=6.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
}

#contents {
  padding: 1em;
}

#btn_edit {
  margin-right: 5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: #000021;
  background-color: #e6e6ef;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.modal, .modal_projects {
  position: fixed;
  display: none;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body_projects{
    position: relative;
    top: 50%;
    width: 400px;
    height: 650px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateY(-50%);
}

.modal_body {
  position: relative;
  top: 50%;
  width: 400px;
  height: 650px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}

.modal-open {
  overflow: hidden;
}

#header_title {
  display: flex;
  justify-content: space-between;
}

#btn_edit {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  margin-right: 10px;
}

#btn_delete {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: rgb(255, 115, 115);
  margin-right: 20px;
}

#btn_edit:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}

#btn_delete:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}

#btn_modifyResearch {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  margin-right: 10px;
}

#btn_deleteResearch {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: rgb(255, 115, 115);
  margin-right: 20px;
}

#btn_modifyResearch:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}

#btn_deleteResearch:hover {
  background-color: #000021;
  color: white;
  transition: background 0.5s;
}

#div_content{
  line-height: 2em;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  animation: fadein 0.5s;
}

#projectTitle{
  color: #000021;
}

#txt_period::before{
  font-family: 'FontAwesome';
  content: "\f133";
  padding-right: 3px;
  vertical-align: middle;
}

#txt_agency::before{
  font-family: 'FontAwesome';
  content: "\f1ad";
  padding-right: 3px;
  vertical-align: middle;
}

#txt_budget::before{
  font-family: 'FontAwesome';
  content: "\f0d6";
  padding-right: 3px;
  vertical-align: middle;
}

#editor{
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 16px 24px;
  height: 350px;
  overflow-y: auto;
}

#img-selector{
  display: none;
}

#editor img{
  max-width: 100%;
}

button.active{
  background-color: #0A66C2;
  color: #FFF
}

#txt_selectedType{
  margin-bottom: 10px;
}

#researchContents{
  clear: both;
  max-width: 100%;
  line-height: 2em;
}

#researchContents img{
  max-width: 100%;
}

#header_modifyArea{
  display: none;
}